doctype html
html(lang="en")
    head
        title= RethinkDB && express
        script(src="js/socket.io-1.3.6.js")
        script(src="js/jquery-2.1.4.min.js")
        script(src="js/bootstrap.min.js")
        link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")

    body
        .container-fluid
            .row
                .col-xs-12
                    .col-xs-2
                    .col-xs-8
                        h3 
                            a(href='/')歡迎來到剪刀石頭布聊天室  
                    .col-xs-2
                .col-xs-12
                    .col-xs-2
                    .col-xs-8
                        form(action='/', method='POST')
                            .form-group
                            h3 聊天室
                            hr
                            table.table.table-striped
                                thead
                                    tr
                                        th 姓名
                                        th 內容
                                tbody.messages
                                    each item in people
                                        tr      
                                            td #{item.name}
                                            td #{item.age}
                            .form-group
                                label Please enter your nick name:
                                input.form-control.name(name='name', placeholder='ex: Amber White')
                            .form-group                            
                                textarea.form-control.age(name='age')
                            button.btn.btn-primary.btn-lg.pull-right(type='submit') send
                    .col-xs-2
        script(type='text/javascript').
            var socket = io('http://#{ip}:9291/');
            socket.on('newData', function (data) {
                console.log(data);
                $('.messages').append('<tr><td>' + data.name + '</td><td>' + data.age + '</td></tr>');
            });

